#intro {
    text-align:center;
}
  
.containor {
    position:relative;
} 

.main {
    position: absolute;
    top:60%;
    width:40%;
    text-align:center;
}

.hey {
    text-align:center;
}

#three {
    font-size:22px;
    position:relative;
    margin:0 auto;
    padding-top:2%;
    padding-bottom:4%;
}

#results li{
    list-style-type:none;
}

@media (max-width: 600px) {
 .main{
     position: relative;
     width:100%;
 }
}